.trackingList-container{
    display: grid;
    grid-template-rows: 59px minmax(1000px, max-content) auto;
    background-color: #ededed;
    min-height: 100vh;
}
.root-content{
    display: grid;
    grid-template-columns: 1fr minmax(360px, 960px) 1fr;
    margin: 20px 0px;
}
.main-content{
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 1.8fr 1fr;
    column-gap: 15px;
    margin: 0px 30px;
}
/* right-box */
.right-box{
    grid-column: 2/3;
}
.togglemenu{
    font-size: 15px;
    font-weight: bold;
    align-content: center;
    padding: 12px 0px;
    color: #434343;
}
.fontsize{
    font-size: 13px;
}
.arrow{
    width: 20px;
    height: 20px;
    margin-right: 5px;
}
.stock-item{
    max-width: 300px;
    display: grid;
    grid-template-columns: 1.2fr 3.5fr 2fr 1.5fr 2fr 1.5fr;
    justify-items: start;
    font-size: 13px;
    padding: 15px 10px;
    align-items: center;
    color: #434343;
    cursor: pointer;
}
.stock-item:hover{
    background: #e3e3e3;
}
.stock-item a{
    color: #434343;
}
.stock-item:hover{
    color: #0386f4;
}
.stock-item:hover{
    color: #0386f4;
}
.stock-item:hover a{
    color: #0386f4;
}
.stock-item img{
    width: 20px;
    height: 20px;
}
.stock-item button{
    border: 0 none;
    cursor: pointer;
}
/* left-box */
.left-box{
    grid-column: 1/2;
    display: grid;
    grid-template-columns: 70px minmax(360px,600px);
    grid-template-rows: 50px auto;
}
.category{
    grid-column: 2/3;
    grid-row:1/2;
    background: #fafafa;
    border: 1px solid #dfdfdf;
    border-radius: 3px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
}
.category li{
    letter-spacing: 4px;
    padding: 15px 0 10px;
    font-size: 15px;
    font-weight: bold;
    color: #636363;
    border-bottom: 3px solid transparent;
    cursor: pointer;
}
.category li:hover{
    border-bottom-color: #636363;
}
.stockid{
    grid-column: 1/2;
    grid-row:2/3;
    color: #fff;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    line-height: 48px;
}
/* 左邊藍色Id */
.stockid li:nth-child(1){
    width: 48px;
    height: 48px;
    background: #0386f4;
    margin-top: 15px;
}
.stockid li{
    width: 48px;
    height: 48px;
    background: #0386f4;
    margin-top: 55px;
}
/* stock detail */
.daily{
    grid-column: 2/3;
    grid-row:2/3;
}
.daily ul{
    max-height: 120px;
    margin-top: 10px;
    padding: 10px 10px;
    background: #fff;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
    color: #232323;
    font-size: 13px;
}
.daily ul li{
    font-weight: bold;
    line-height: 180%;
}
.daily ul li:nth-child(1){
    grid-column: 1/3;
    grid-row: 1/2;
}
.daily ul li:nth-child(1) a{
    font-size: 13px;
    font-weight: bold;
    color: #0386f4;
}
.daily ul li span{
    font-weight:500;
}
/* ispending */
.ispending{
    position: absolute ;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    display: flex;
    align-items: center;
}
.ispending span{
    position: relative;
    font-size: 22px;
    font-weight: 700;
    color: #434343;
}
.ispending img{
    height:50px;
}
/* RWD */
@media(max-width:900px){
    .main-content{
        grid-template-columns: 1.3fr 1fr;
    }
}
@media(max-width:800px){
    .main-content{
        grid-template-columns: 1fr;
        grid-template-rows: 0.3fr 1fr;
    }
    .right-box{
        grid-column: 1/2;
        grid-row: 1/2;
        justify-self: center;
    }
    .left-box{
        grid-column: 1/2;
        grid-row: 2/3;
    }
}
@media(max-width:800px){
    .main-content{
        grid-template-columns: 1fr;
        grid-template-rows: 0.3fr 1fr;
    }
    .right-box{
        grid-column: 1/2;
        grid-row: 1/2;
        justify-self: center;
    }
    .left-box{
        grid-column: 1/2;
        grid-row: 2/3;
    }
}
@media(max-width:500px){
    .main-content{
        margin: 0px 0px;
    }
    .left-box{
        grid-template-columns: minmax(360px,500px);
    }
    .stockid{
        display: none;
    }
    .category{
        grid-column: 1/2;
    }
    .daily{
        grid-column: 1/2;
    }
    .ispending{
        left:20%;
        top:50%;
        transform: translateY(-50%);
    }
}