.PERatio-container{
    display: grid;
    grid-template-rows: 465px minmax(250px,auto);
    row-gap: 10px;
    margin-bottom: 30px;
}
.PERatio-SVG{
    grid-row: 1/2;
    background: #fff;
    border-radius: 3px;
    border: 1px solid #dfdfdf;
    color: #434343;
}
.PERatio-report{
    grid-row: 2/3;
    display: grid;
    grid-template-rows: 1fr 2fr;
    background: #fff;
    border-radius: 3px;
    border: 1px solid #dfdfdf;
    color: #434343;
}

.toggleMenu{
    grid-row: 1/2;
    display: flex;
    align-items: center;
    margin-left: 20px;

}
.toggleMenu li{
    font-weight: 700;
    color: #434343;
    border: 1px solid #dfdfdf;
    background-color: #f3f3f3;
    background-image: linear-gradient(#f5f5f5,#f1f1f1);
    font-size: 13px;
    cursor: pointer;
    padding: 12px 18px;
}
.toggleMenu li:nth-child(1){
    border-radius: 3px 0 0 3px
}
.toggleMenu li:nth-child(2){
    border-radius: 0 3px 3px 0;
}
.toggleMenu li:hover{
    background-color: #e9e9e9;
    background-image: linear-gradient(#eee,#e9e9e9);
}
.explain{
    display: grid;
    grid-template-columns: 50px auto;
    grid-template-rows: 40px auto;
    column-gap:20px;
    justify-items: center;
    font-size: 14px;
    padding: 20px;
    margin: 10px 0px;
    border: 1px solid #e9e9e9;
    background-color: #f6f8fa;
}
.explain div{
    margin-top: 2px;
    grid-column: 1/2;
    justify-self: end;
    font-weight: 700;
}
.explain strong,.explain span{
    grid-column: 2/3;
    justify-self: start;
    line-height: 200%;
}
.detail{
    border: 1px solid #e9e9e9;
    background-color: #f6f8fa;
}
/* background: #0386f4;
border-color: #0386f4;
color: #fff;
font-weight: 700;
margin-left: 20px; */