.settingsIcon{
    width: 23px;
    height: 23px;
    cursor: pointer;
  }
  
  .expendIcon{
    width: 20px;
    height:20px;
    position: relative;
    right:2px;
    cursor: pointer;
  }
.settings-menu{
  position: absolute;
  top:53px;
  right:160px;
  width: 104px;
  height: 116px;
  background: #fff;
  border: 1px solid #dfdfdf;
  padding: 9px 0;
  border-radius: 3px;
  box-shadow: 0 0 3px rgb(0 0 0 / 10%);
  text-align: center;
}
.settings-menu li{
  padding: 12px 10px !important;
  color: #636363;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  line-height: 100%;
  cursor: pointer;
}
.settings-menu li:hover{
  color: #fff ;
  background: #0386f4 ;
}
