.sidebar-container{
    grid-column: 2/3;
    width: 120px;
    height:228px;
}
.sidebar-container li{
    display: grid;
    justify-items: center;
    border-left: 3px solid transparent;
    cursor: pointer;
    margin: 25px 3px 20px;
    padding-left: 8px;
    font-size: 15px;
}
.sidebar-container li:hover{
    border-left: 3px solid  #0386f4;
}
.sidebar-container li a{
    display: grid;
    justify-items:center;
    color: #434343;
}
.sidebar-container li:hover a{
    color: #0386f4;
}
/* 無效果 */
.sidebar-container li a:active{
    color: #0386f4;
}
.sidebar-container li a:active li{
    border-left: 3px solid  #0386f4;
}
/*  */
.sidebar-container li a img{
    margin-bottom: 5px;
    width:30px;
    height:30px;
    justify-self: center;
}
@media(max-width:900px){
    .sidebar-container{
        grid-column: 3/4;
        grid-row: 1/2;
        height: 100px;
        width: auto;
        display: grid;
        grid-template-columns: repeat(5,1fr);
    }
    .sidebar-container li{
        display:flex;
        margin: auto;
        align-self:center ;
        border-left: 0px none;
        padding-left: 0px;
    }
    .sidebar-container li:hover{
        border-left: 0px solid  #0386f4;
        border-bottom: 3px solid  #0386f4;
    }
    .sidebar-container li a img{
        margin-bottom: 10px;
        margin-top: 12px;
    }
}
@media(max-width:400px){
.sidebar-container li{
    font-size: 15px;
    margin: 0px;
    }
}