.container {
    display:grid;
    grid-template-rows: 800px 360px 500px ;
}
.homePage-1{
    grid-row: 1/2;
    display: grid;
    grid-template-rows: 0.5fr 1fr 0.8fr 0.8fr 2fr;
    grid-template-columns: 1fr minmax(300px, 1024px) 1fr;  
    background-image: url(../../components/img/home_bg.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
}
.navbar{
    grid-column: 2/3;  
    display: grid;
    grid-template-columns: minmax(336px, auto) minmax(250px, auto) ;
    padding: 0px 20px;
} 
/* leftBar */
.leftBar li{
    grid-column: 1/2;
    display: inline-flex;
    padding-bottom: 15px;
    margin: 25px 10px;
    border-bottom: 3px solid transparent;
}
.leftBar li:hover{
    border-bottom: 3px solid #fff;
}
.leftBar li a{
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}
/* rightBar */
.rightBar{
    grid-column:2/3;
    justify-self: end;
    display: inline-flex;
}
.rightBar li:nth-child(1) a{
    margin: 25px 10px 0px;
    padding-bottom: 13px;
    border-bottom: 3px solid transparent;
}
.rightBar li:nth-child(1) a:hover{
    border-bottom: 3px solid #fff;
}
.rightBar  li:nth-child(1) a{
    display: inline-flex;
    align-items: center;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    padding-right: 10px;
  }
  .trackingIcon{
    margin-right: 5px;
    width: 25px;
    height: 25px;
    filter: invert(100%);
}
.logout{
    margin: 25px 0px 42px;
    border-bottom: 3px solid transparent;
    align-items: center;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}
.logout:hover{
    border-bottom: 3px solid #fff;
}
/* loginBar */
.loginBar{
    grid-column:2/3;
    justify-self: end;
    display: inline-flex;
}
.loginBar li{
    padding: 8px;
    margin-top: 17px;
}
.loginBar li a{
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    padding: 15px 10px;
    cursor: pointer;
}
.loginBar .signup a{
    text-align: center;
    border-radius: 3px;
    border: 2px solid #fff;
    cursor: pointer;
}
.loginBar .signup a:hover{
    background-color: #fff;
    color:#0386f4;
    transition: all 0.5s;
}
.loginBar .login a:hover{
    border: 2px solid #fff;
    text-align: center;
    background-color: #fff;
    color:#0386f4;
    border-radius: 3px;
    border-color: #fff;
    transition: all 0.5s;
} 
.homePage-1 .logo{
    grid-column: 2/3;
    grid-row:2/3;
    height:120px;
    width: 120px;
    align-self: end;
    justify-self: center;
    border-radius: 5px;
}      
.slogan {
    grid-column: 2/3;
    grid-row:3/4;
    text-align: center;
    align-self: end;
    font-size: 2.5em;
    font-weight: bold;
    color: #fff;
}
.homePage-1 form{
    grid-column: 2/3;
    display: inline-flex;
    justify-content: center;
    padding-left: 34px;
}
.homePage-1 form .searchBar{
    height:50px;
    width: 430px;
    border: none;
    border-radius: 5px;
    color: #434343;
    background-color: #fafafa;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    outline: none;
}
.homePage-1 form{
    align-self: center;
    border: none;
}
.homePage-1 form .searchBtn{
    position: relative;
    right:45px;
    top:8px;
    width: 36px;
    height: 36px;
    background-color: #0386f4;
    border-radius: 5px;
    border:0 none;
    box-shadow: 0 1px 3px rgb(0 0 0 / 25%);
    cursor: pointer;
}
.searchBtn:hover{
    background-color: #0862BB
}
.searchBtn .searchImg{
    position: relative;
    left:-4px;
    filter: invert(100%);
    width: 36px;
}
.stockItems{
    grid-row:5/6;
    grid-column: 2/3;
    display: inline-flex;
    justify-content: center;
}
.stockItems li{
    width:122px;
    height:40px;
    margin: 0px 15px;
    background-color: rgba(255,255,255,0.2);
    border-radius: 20px;
    text-align: center;
    line-height:40px;
    font-weight: 600;
    letter-spacing: 2px;
    cursor: pointer;
    transition: background-color 0.8s, color 0.8s;
}
.stockItems li:hover{
    background-color: #fff;
}
.stockItems li a{
    color: #fff;
}
.stockItems li:hover a{
    color: #153356;
}
/* search data--filtered */
.search-data-box{
    position: absolute;
    left:50%;
    top:61%;
    transform: translateX(-50%);
    width: 420px;
    background: #fff;
    border: 1px solid #dfdfdf;
    border-radius: 3px;
    line-height: 164%;
    padding: 6px 0px;
    box-shadow: 0 1px 3px rgb(67 67 67 / 10%);
    z-index: 1;
  }
  .search-data-box ul{
    font-size: 13px;
    padding: 6px 0px;
  }
  .search-data-box ul li:nth-child(1){
    padding: 0px 6px;
    margin: 10px 0 12px;
    line-height: 0;
    border-bottom: 1px solid #ebebeb;
    font-weight: bold;
    color: #9d9d9d;
  }
  .searchitem{
    padding: 0px 6px;
    cursor: pointer;
    color: #232323;
  }
  .searchitem:hover{
    background: #EEEEEE;
    color: #000;
  }
  .searchitem span:nth-child(1){
    margin-left: 20px;
    font-weight: 700;
    color: #0386f4;
    background-color: rgba(255,255,255,0);
  }
  .searchitem span:nth-child(2){
    margin-left: 20px;
  }
/* welcome banner framer-motion */
.logo,.slogan,.homePage-1 form,.stockItems{
    visibility: visible;
    opacity: 1;
    transform: translateY(0) scale(1);
    transition: transform 2s;
}
/* page-2 */
.homePage-2{
    grid-row: 2/3;
    background-color: #fff;
    display: grid;
    grid-template-rows: 0.2fr 3fr 1fr;
    grid-template-columns: minmax( 360px,800px) auto;
    padding: 0px 50px; 
}
.homePage-2 .gif{
    grid-row: 1/span2;
    position: relative;
}
.giftext_1{
    position: absolute;
    left:150px;
    color:rgb(86,86,86);
    font-size: 14px;
    border: 1px solid rgb(86,86,86);
    border-radius: 3px;
    display: inline-block;
    padding: 15px;
}
.giftext_2{
    position: absolute;
    left: 600px;
    top:200px;
    color:rgb(86,86,86);
    font-size: 14px;
    border: 1px solid rgb(86,86,86);
    border-radius: 3px;
    display: inline-block;
    padding: 15px;
}
.homePage-2 .text_1{
    text-align: center;
    grid-row: 2/3;
    align-self: center;
    line-height: 180%;
    font-size: 24px;
    letter-spacing: 2px;
    margin-left: 30px;
}
.homePage-2 .linkToStock {
    grid-column: 2/3;
    grid-row: 3/4;
    justify-self: center;
    margin:10px 50px;
    padding: 10px 30px;
    height:30px;
    background-color: #0386f4;
    line-height: 30px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s, transform 0.5s, box-shadow 0.5s;
}
.homePage-2 .linkToStock a{
    color: #fff;
}
.homePage-2 .linkToStock:hover{
    background-color: #0862BB;
    transform: translateY(-2px);
    box-shadow: 0 7px 14px rgb(50 50 93 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
}
/* !user page 3 */
.homePage-3{
    grid-row: 3/4;
    display: grid;
    grid-template-rows: 3fr 1fr 1fr;
    background-color: #13243b;
    color:#fff;  
    justify-items: center;
}
.homePage-3 .logo_2{
    height:150px;
    width: 150px;
    grid-row: 1/2;
    align-self: center;
    border-radius: 117px;
}
.homePage-3 .text_2{
font-size: 2em;
}
.homePage-3 .linkToSignup{
    padding: 10px 30px;
    height:30px;
    background-color: #0386f4;
    line-height: 30px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s, transform 0.5s, box-shadow 0.5s;
}
.homePage-3 .linkToSignup a{
    color: #fff;
}
.homePage-3 .linkToSignup:hover{
    background-color: #0862BB;
    transform: translateY(-2px);
    box-shadow: 0 7px 14px rgb(50 50 93 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
}
/* user page3 */
.homePage-3-user{
    grid-row: 3/4;
    display: grid;
    grid-template-rows: 1fr 3fr 0.2fr;
    background-color: #13243b;
    color:#fff;  
    justify-items: center;
}
.homePage-3-user h3{
    margin-top: 40px;
    text-align: center;
    font-size: 26px;
    letter-spacing: 3px;
}
.slider{
    grid-row: 2/3;
    margin-top: 20px;
    max-width:800px;
    max-height:200px;
    justify-self: center;
}
.recommend{
    font-size: 18px;
    font-weight: 300;
    padding: 5px;
    text-align: center;
    color:#fff;  
}
.recommend h6{
    color: #838383;
}
.slider img{
    position: relative; 
    left:123px;
    bottom:24px;
}
.magazine{
    margin: 0px 50px;
    width:150px;
    height: 80px;
}