.container {
    display:grid;
    grid-template-rows: 790px 520px 600px ;
}
.homePage-1{
    grid-row: 1/2;
    display: grid;
    grid-template-rows: 1fr 1.5fr 1fr 0.8fr 3fr;
    grid-template-columns: 1fr minmax(300px, 1024px) 1fr;  
    background-image: url(../../components/img/home_bg.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
}
.navbar{
    grid-column: 2/3;  
    display: grid;
    grid-template-columns: minmax(336px, auto) minmax(250px, auto) ;
    padding: 0px 20px;
} 
/* leftBar */
.leftBar li{
    grid-column: 1/2;
    display: inline-flex;
    padding-bottom: 15px;
    margin: 25px 10px;
    border-bottom: 3px solid transparent;
}
.leftBar li:hover{
    border-bottom: 3px solid #fff;
}
.leftBar li a{
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}
/* rightBar */
.rightBar{
    grid-column:2/3;
    justify-self: end;
    display: inline-flex;
}
.rightBar li:nth-child(1) a{
    margin: 11px 10px 0px;
    padding-bottom: 8px;
    border-bottom: 3px solid transparent;
}
.rightBar li:nth-child(1) a:hover{
    border-bottom: 3px solid #fff;
}
.rightBar  li:nth-child(1) a {
    display: inline-flex;
    align-items: center;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    padding-right: 10px;
  }
.rightBar  li:nth-child(1) a img{
    filter: invert(100%);
}
.rightBar  li:nth-child(2) img{
    padding-bottom: 8px;
    border-bottom: 3px solid transparent;
    margin: 22px 0px 0px;
} 
.rightBar  li:nth-child(2) img{
    filter: invert(100%);
}
/* loginBar */
.loginBar{
    grid-column:2/3;
    justify-self: end;
    display: inline-flex;
}
.loginBar li{
    padding: 8px;
    margin-top: 17px;
}
.loginBar li a{
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    padding: 15px 10px;
    cursor: pointer;
}
.loginBar .signup a{
    text-align: center;
    border-radius: 3px;
    border: 2px solid #fff;
    cursor: pointer;
}
.loginBar .signup a:hover{
    background-color: #fff;
    color:#0386f4;
    transition: all 0.5s;
}
.loginBar .login a:hover{
    border: 2px solid #fff;
    text-align: center;
    background-color: #fff;
    color:#0386f4;
    border-radius: 3px;
    border-color: #fff;
    transition: all 0.5s;
} 
.homePage-1 .logo{
    grid-column: 2/3;
    grid-row:2/3;
    height:120px;
    width: 120px;
    justify-self: center;
    border-radius: 5px;
}      
.slogan {
    grid-column: 2/3;
    grid-row:3/4;
    text-align: center;
    font-size: 2.5em;
    font-weight: bold;
    color: #fff;
}
.homePage-1 form{
    grid-column: 2/3;
    display: inline-flex;
    justify-content: center;
    padding-left: 34px;
}
.homePage-1 form .searchBar{
    height:50px;
    width: 430px;
    border: none;
    border-radius: 5px;
    color: #434343;
    background-color: #fafafa;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}
.homePage-1 form .searchBtn{
    position: relative;
    right:45px;
    top:8px;
    width: 36px;
    height: 36px;
    background-color: #0386f4;
    border-radius: 5px;
    border:0 none;
}
.searchBtn:hover{
    background-color: #0862BB
}
.searchBtn .searchImg{
    position: relative;
    left:-4px;
    filter: invert(100%);
    width: 36px;
}
.homePage-1 .stockItems{
    grid-row:5/6;
    grid-column: 2/3;
    display: inline-flex;
    justify-content: center;
}
.homePage-1 .stockItems .Item{
    width:122px;
    height:40px;
    margin: 0px 15px;
    background-color: rgba(255,255,255,0.2);
    border-radius: 20px;
    text-align: center;
    line-height:40px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.8s, color 0.8s;
}
.homePage-1 .stockItems .Item:hover{
    color: #153356;
    background-color: #fff;
}
/* 失敗welcome banner 之後做好 */
.logo,.slogan,.searchBar,.searchBtn,.stockItems{
    visibility: visible;
    opacity: 1;
    transform: translateY(0) scale(1);
    transition: transform 2s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, 
    opacity 2s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;
}
 
.homePage-2{
    grid-row: 2/3;
    background-color: #fff;
    display: grid;
    grid-template-rows: 1fr 3fr 2fr;
    padding: 0px 50px;
    letter-spacing: 2px; 
}
.homePage-2 .gif{
            grid-row: 2/3;
            width: 700px;
            border: 3px solid #0386f4;
            border-radius: 10px;
}
.homePage-2 .text_1{
    text-align: center;
    grid-row: 2/3;
    align-self: center;
    line-height: 180%;
    font-size: 24px;
    margin-left: 30px;
}
.homePage-2 .linkToStock {
    grid-row: 3/4;
    justify-self: center;
    margin-top: 50px;
    padding: 10px 30px;
    height:30px;
    background-color: #0386f4;
    line-height: 30px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s, transform 0.5s, box-shadow 0.5s;
}
    .homePage-2 .linkToStock a{
        color: #fff;
    }
.homePage-2 .linkToStock:hover{
    background-color: #0862BB;
    transform: translateY(-2px);
    box-shadow: 0 7px 14px rgb(50 50 93 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
}
.homePage-3{
grid-row: 3/4;
display: grid;
grid-template-rows: 3fr 1fr 1fr 1fr 1.5fr;
background-color: #13243b;
color:#fff;  
justify-items: center;
}
.homePage-3 .logo_2{
    height:150px;
    width: 150px;
    grid-row: 1/2;
    align-self: center;
    border-radius: 117px;
}
.homePage-3 .text_2{
font-size: 2em;
}
.homePage-3 .linkToSignup{
padding: 10px 30px;
height:30px;
background-color: #0386f4;
line-height: 30px;
font-weight: bold;
border-radius: 5px;
cursor: pointer;
transition: background-color 0.5s, transform 0.5s, box-shadow 0.5s;
}
.homePage-3 .linkToSignup a{
    color: #fff;
}
.homePage-3 .linkToSignup:hover{
    background-color: #0862BB;
    transform: translateY(-2px);
    box-shadow: 0 7px 14px rgb(50 50 93 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
}